[Unit]
Description=Bluetooth service

[Service]
Type=dbus
BusName=org.bluez
ExecStart=/usr/local/sbin/bluetoothd -n

[Install]
WantedBy=bluetooth.target
Alias=dbus-org.bluez.service
